.login-handler {
    font-family: Arial, sans-serif;
    background-color: #150c21;;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh;
    color: #ffffff;
    flex-direction: column;
}

.login-handler.slide-up {
    animation: slideUp 1s forwards;
}

.slide-up {
    animation: slideUp 1s forwards;
}

@keyframes slideUp {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.svg-wrapper {
    position: relative;
    justify-content: center;
    width: 100px;
    margin: 20px auto;
}

.auth-wrapper {
    display: block;
    background-color:#2c1a44;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    overflow: hidden;
    transition: width 0.5s ease;
}

.auth-tabs {
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: #473361;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.auth-tabs button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    position: relative;
    z-index: 1;
}

.auth-tabs #tab-slider {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #6434a3;
    border-radius: 10px;
    z-index: 0;
    transition: left 0.5s ease;
}

.auth-forms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%;
    transition: transform 0.5s ease;
}

.auth-form {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.auth-form.active {
    opacity: 1;
}

.auth-form label {
    margin-bottom: 5px;
    text-align: left;
    display: block;
}

.auth-form input[type="text"],
.auth-form input[type="password"],
.auth-form input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #6434a3;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.auth-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #6434a3;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

.auth-form button:hover {
    background-color: #4d277e;
}

.notification-box {
    background-color: #6434a3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideDown 0.5s forwards;
    display: inline-block;
    z-index: 1000;
}

.color-1 {
    background-color: #6434a3;
}

.color-2 {
    background-color: #29B32C;
}

.color-3 {
    background-color: #C70039;
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes reverseSlideDown {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}

.show {
    animation: slideDown 0.5s forwards;
}

.hide {
    animation: reverseSlideDown 0.5s forwards;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-svg {
    width: 100px;
    height: 100px;
}

.loader-svg path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 2s linear infinite;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1000;
    }
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 1000;
    }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes expandWidth {
    from {
        width: 350px;
    }
    to {
        width: 500px;
    }
}

.auth-wrapper.expand {
    animation: expandWidth 0.5s forwards;
    width: 500px; 
}

@keyframes expandWidthPlus {
    from {
        width: 500px;
    }
    to {
        width: 750px;
    }
}

.auth-wrapper.expandPlus {
    animation: expandWidthPlus 0.5s forwards;
    width: 750px; 
}

@keyframes expandWidthPlusPlus {
    from {
        width: 750px;
    }
    to {
        width: 950px;
    }
}

.auth-wrapper.expandMinusPlus {
    animation: expandWidthMinusPlus 0.5s forwards;
    width: 950px; 
}

@keyframes expandWidthMinusPlus {
    from {
        width: 500px;
    }
    to {
        width: 950px;
    }
}

.auth-wrapper.expandPlusPlus {
    animation: expandWidthPlusPlus 0.5s forwards;
    width: 950px; 
}

#2fa-setup.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}


#2fa-setup button {
    margin: 10px;
}

.hidden {
    display: none;
}

.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    margin: 20px;
}

#2fa-setup {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center;
}

#2fa-setup.visible {
    display: block;
    opacity: 1;
}

#2fa-setup h2 {
    margin-top: 0;
    font-size: 24px;
}

.fa-setup-buttons {
    margin-top: 20px;
}

.skip-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #4CAF50; 
    text-decoration: underline; 
}

#username-placeholder {
    color: #8556c3;
    font-weight: bold; 
}

.fa-setup-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    align-items: center;
}

.fa-setup-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    border-right: 1px solid #8556c3; 
}

.fa-setup-text h2 {
    font-size: 24px;
}

.qr-code-container {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#qrCodeContainer img {
    width: 200px; 
    height: auto;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}

button[type="button"] {
    padding: 10px 20px;
    border: none;
    background-color: #8556c3;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #8556c3;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #6b4496;
}

button[type="submit"]:hover {
    background-color: #6b4496;
}

.profile-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
}

.profile-selection img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.profile-selection img:nth-child(1) {
    animation-delay: 0.2s;
}

.profile-selection img:nth-child(2) {
    animation-delay: 0.4s;
}

.profile-selection img:nth-child(3) {
    animation-delay: 0.6s;
}

.profile-selection img:nth-child(4) {
    animation-delay: 0.8s;
}

.profile-selection img:nth-child(5) {
    animation-delay: 1s;
}

.profile-selection button {
    margin-top: 20px;
}

#validateButton {
    margin-top: 20px;
}

.selected {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    object-fit: cover;
    object-position: center;
}

.profile-selection img.selected {
    border: 3px solid #6434a3;
    box-shadow: 0 0 10px rgba(64, 3, 100, 0.5); 
}