.container_profil {
	width: 80%;
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 4.8rem;
	background: transparent;
	padding: 1rem 4%;
	font-size: 1.2rem;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #473361;
}

.profile-info {
	display: flex;
	flex-direction: column;
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.container_profil .modify-profile {
    
	position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #6434a3;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    border-radius: 10px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.modify-profile:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.profile-image {
    display: flex;
	justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease;
}

.container_profil .profil {
	display: inline;
}

.container_profil h1 {
	display: flex;
	flex-direction: column;
    margin-top: 2rem;
    font-size: 2rem;
}

.info {
    display: flex;
    gap: 1rem;
}

.details {
    display: flex;
    gap: 1rem;
    margin: auto;
	text-align: center;
	align-items: center;
    padding: 1rem 4%;
	flex-direction: column;

}

.container_profil2 {
	width: 80%;
    margin-top: 3rem;
	margin: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	background: transparent;
	font-size: 1.2rem;
	color: #9563d6;
}

.round {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.team {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.container_profil2 .tournament {
    width: 38rem;
	text-align: left;
	background: #473361;
	backdrop-filter: blur(20px);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	padding: .7rem 7%;
	font-size: 1rem;
	gap: 1.7rem;
	color: #fff;
}

.container_profil3 {
    width: 80%;
    margin-top: 3rem;
    margin: auto;
    text-align: center;
    align-items: left;
    justify-content: left;
    margin-top: 2rem;
    background: transparent;
    font-size: 1.2rem;
    color: #9563d6;
}

.container_profil3 .friends {
    width: 38rem;
	text-align: center;
	background: #473361;
	backdrop-filter: blur(20px);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	padding: .7rem 7%;
	font-size: 1rem;
	gap: 1.7rem;
	color: #fff;
}

.modify-profile-form {
    margin-left: -50px;
}

.modify-profile-grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.left-section,
.center-section,
.right-section {
    flex: 1;
}

.profile-pic-container {
    position: relative;
    text-align: center;
    cursor: pointer;
}

.current-profile-pic {
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
    transition: opacity 0.3s ease-in-out;
    
	justify-content: center;
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}

#img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0px;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay i {
    color: white;
    font-size: 24px;
}

.profile-pic-container:hover .overlay {
    opacity: 1;
}

.profile-pic-container:hover .current-profile-pic {
    opacity: 0.7;
}