<div class="chatpage">
    <div class="line">
    <h1>Chat Room</h1>
    <button type="button" id="block"></button>
    <button type="button" id="profile"></button>
    </div>
    <div id="notification" class="notification"></div>
    <div id="game-notification" class="notification" style="display: none;">
        <span id="game-request-text"></span>
        <button id="accept-game-request" class="game-request-btn">Accept</button>
        <button id="decline-game-request" class="game-request-btn">Decline</button>
    </div>
    <div id="chat-log" class="chat-log"></div>
    <input class="chat-message-input" id="chat-message-input" type="text" placeholder="Type your message here...">
    <button type="button" class="chat-message-submit" id="chat-message-submit">Send</button>
    <button type="button" id="send-game-request">Send Game Request</button>
</div>

