<title>Transcendence | Tournament</title>
<div class="tournament">
	<section id="eventFormContainer" style="display:none;"></section>

    <div class="add-event" id="add-event">
		<i class='bx bx-plus'></i>
		<span class="button-text" onclick="toggleForm()">Add tournament</span>
	</div>

    <h2 id="registered-tournament" class="hidden">Tournament Joined:</h2>
    <div id="registered-tour" class="tournois-container"></div>

    <h2>Available Tournament:</h2>
    <div id="available-tour" class="tournois-container"></div>
</div>

